<%= form_with model: [review, comment_reply] do |f| %>
  <div class="form-group">
    <%= f.label "コメントに返信する" %>
    <%= f.text_area :comment, class: "form-control", placeholder: "コメントに返信してみよう",  required: true %>
    <!--送信先のコメントのidをparent_idに格納-->
    <%= f.hidden_field :parent_id, value: comment.id %>
  </div>
  <div class="text-light">
    <%= f.submit "返信する", class: "btn btn-warning text-white" %>
  </div>
<% end %>