<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<% if success %>
  <%= render "layouts/flash" %>
<% end %>

<div class="container px-5">
  <div class="row">
    <div class="col-6 mt-5">
      <% if current_user %>
        <h1>マイページ</h1>
        <% if  %>
        <%= link_to "下書き一覧", confirm_reviews_path %>
        <% end %>
      <% else %>
        <h1><%= @user.nickname %>さんのページ</h1>
      <% end %>
    </div>
    <div class="col-4 mt-5 ">
      <table class='table'>
        <tr>
          <%= image_tag @user.get_profile_image, size: "100x100", class: "rounded-circle d-block mx-auto" %>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <th><%= @user.nickname %></th>
        </tr>
      </table>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <% unless @reviews.empty? %>
    <%= render "public/reviews/index", reviews: @reviews %>
    <% else %>
    <h3>まだ投稿はありません。</h3>
    <%= link_to new_review_path do %>
      <p>投稿してみましょう！</p>
    <% end %>
  <% end %>
  </div>
</div>
